.bg1 {
    background: url('../../assets/images/login-bg.png') center center no-repeat;
}

.bg2 {
    background-color: hsla(0, 0%, 10%, .4);
    border: 1px solid white;
}

.bgInput {
    background: rgba(0, 0, 0, 0);
}